body {
  background-color: rgba(245, 245, 220, 0.301);
  margin-top: 0 10px 0 10px;
  background: url("../Images/background1.avif");
  background-position: left top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
